.eight.wide.column
    = video_tag 'http://techslides.com/demos/sample-videos/small.mp4'
.eight.wide.column
    .ui.two.column.grid
        .column
            = video_tag 'http://techslides.com/demos/sample-videos/small.mp4'
        .column
            %h3
                Benda Asing Ditemukan
            %p
                Pada suatu hari, hartono pergi ke ladang untuk membeli ubi. Tanpa ia bayangkan dihari itu ia melihat....
    .ui.two.column.grid
        .column
            = video_tag 'http://techslides.com/demos/sample-videos/small.mp4'
        .column
            %h3
                Benda Asing Ditemukan
            %p
                Pada suatu hari, hartono pergi ke ladang untuk membeli ubi. Tanpa ia bayangkan dihari itu ia melihat....