.eight.wide.column
    = video_tag 'http://techslides.com/demos/sample-videos/small.mp4'
.four.wide.column
    = video_tag 'http://techslides.com/demos/sample-videos/small.mp4'
    %h3
        Benda Asing Ditemukan
    %p
        Pada suatu hari, hartono pergi ke ladang untuk membeli ubi. Tanpa ia bayangkan dihari itu ia melihat....
.four.wide.column
    = video_tag 'http://techslides.com/demos/sample-videos/small.mp4'
    %h3
        Benda Asing Ditemukan
    %p
        Pada suatu hari, hartono pergi ke ladang untuk membeli ubi. Tanpa ia bayangkan dihari itu ia melihat....