.sixteen.wide.column
    .slider
        .slides
            .slide-item.item1
                = video_tag 'http://techslides.com/demos/sample-videos/small.mp4'
            .slide-item.item2
                = video_tag 'http://techslides.com/demos/sample-videos/small.mp4'
            .slide-item.item3
                = video_tag 'http://techslides.com/demos/sample-videos/small.mp4'
            .slide-item.item4
                = video_tag 'http://techslides.com/demos/sample-videos/small.mp4'