.sixteen.wide.column
  .ui.grid
    .eight.wide.column
      .full_height.width100.full_image
        = image_tag 'Intro-App-1', alt: 'register intro'
    .eight.wide.column
      .ui.centered.grid
        .twelve.wide.column
          .ui.grid
            .twelve.wide.column.ten_down
              = image_tag 'pordev', alt: 'logo pordev', class: 'logo_small ten_left'
              %h2.prime_text{align: 'center'}
                Bergabung
              = form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "ui form error"}) do |f|
                .field
                  = text_field_tag :nama_lengkap, '', autofocus: true, autocomplete: "name", placeholder: "Nama Lengkap"
                .field
                  = f.email_field :email, autocomplete: "email", placeholder: "E-mail"
                .field
                  = f.password_field :password, placeholder: "Kata Sandi"
                .field.secret_field.hidden_field
                  = f.password_field :password_confirmation, placeholder: "Ulangi Kata Sandi"
                .ui.indicating.progress
                  .bar
                .actions
                  = f.submit "DAFTAR", class: "ui primary button fluid", id: "register_button"
                .ui.error.message
                = render "devise/shared/error_messages", resource: resource
              = render "devise/shared/links"