- if resource.errors.any?
  #error_explanation.ui.negative.message
    //.header
    //  = I18n.t("errors.messages.not_saved", count: resource.errors.count, resource: resource.class.model_name.human.downcase)
    %ul.list
      - resource.errors.full_messages.each do |message|
        %li
          = message
- if (flash[:error].present? || flash.now[:error].present?)
  #error_explanation.ui.negative.message
    %ul.list
      = flash[:error].each do |message|
        %li
          = message
  - flash[:error] = nil
- if (flash[:alert].present? || flash.now[:alert].present?)
  #error_explanation.ui.info.message
    %ul.list
      %li
        = flash[:alert]
  - flash[:alert] = nil