- if controller_name != 'sessions'
  .ui.center.aligned.basic.segment
    Sudah punya akun?
    = link_to " Masuk", new_session_path(resource_name)
  %br

- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
  .ui.center.aligned.basic.segment
    = link_to "Lupa kata sandi", new_password_path(resource_name)
  %br

- if devise_mapping.registerable? && controller_name != 'registrations'
  .ui.center.aligned.basic.segment
    Belum punya akun?
    = link_to " Daftar", new_registration_path(resource_name)

- if devise_mapping.confirmable? && controller_name != 'confirmations'
  .ui.center.aligned.basic.segment
    Belum mendapat email konfirmasi?
    = link_to " Kirim ulang", new_confirmation_path(resource_name)
  %br

- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
  = link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name)
  %br

- if devise_mapping.omniauthable?
  - resource_class.omniauth_providers.each do |provider|
    = link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider)
    %br