.four.wide.column
	.ui.centered.grid
		.kotak_profile.ten.wide.column

		.kotak_gabung.ten.wide.column

		.kotak_bantuan.ten.wide.column
			%br
			%button.ui.primary.button.fluid
				Pelajari Lebih Lanjut
			%br
			%button.ui.inverted.primary.button.fluid
				Bantuan

.twelve.wide.column
	.ui.grid
		.sixteen.wide.column
			.ui.grid
				=# render :partial=> "/houses/list/slide_show", formats: [:html], handlers: [:haml]
		.sixteen.wide.column
			%h2.prime_text
				Artikel
		.fourteen.wide.column
			.ui.grid
				= render :partial=> "/houses/list/mini_artikel", formats: [:html], handlers: [:haml]
			.ui.grid
				.right.floated.right.aligned.ten.wide.column
					%a
						Selengkapnya
		.sixteen.wide.column
			%h2.prime_text
				Video Populer
		.fourteen.wide.column
			.ui.four.column.grid
				= render :partial=> "/houses/list/video_list", formats: [:html], handlers: [:haml]
			.ui.grid
				.right.floated.right.aligned.ten.wide.column
					%a
						Selengkapnya
		.sixteen.wide.column
			%h2.prime_text
				Jelajah
		.fourteen.wide.column
			.ui.grid
				= render :partial=> "/houses/list/mini_jelajah", formats: [:html], handlers: [:haml]
			.ui.grid
				.right.floated.right.aligned.ten.wide.column
					%a
						Selengkapnya
#recomended.video_list
	- @video_list.each do |video|
		.video_list