.eight.wide.column
    = video_tag 'http://techslides.com/demos/sample-videos/small.mp4'
    %br
    %br
    .ui.grid
        - (1..2).each do |i|
            .eight.wide.column
                .column
                    = video_tag 'http://techslides.com/demos/sample-videos/small.mp4'
                    %h3
                        Benda Asing Ditemukan
                    %p
                        Pada suatu hari, hartono pergi ke ladang untuk membeli ubi. Tanpa ia bayangkan dihari itu ia melihat....
.eight.wide.column
    .ui.grid
        - (3..6).each do |i|
            .eight.wide.column
                .column
                    = video_tag 'http://techslides.com/demos/sample-videos/small.mp4'
                    %h3
                        Benda Asing Ditemukan
                    %p
                        Pada suatu hari, hartono pergi ke ladang untuk membeli ubi. Tanpa ia bayangkan dihari itu ia melihat....