.ui.tab.segment{data: {tab: "ilustration"}}
- (6..13).each do |i|
    .four.wide.column
        = video_tag('http://techslides.com/demos/sample-videos/small.mp4')
        %h3
            Benda Asing Ditemukan
        %p
            Pada suatu hari, hartono pergi ke ladang untuk membeli ubi. Tanpa ia bayangkan dihari itu ia melihat....
.ui.tab.segment{data: {tab: "fotografi"}}
- (6..13).each do |i|
    .four.wide.column
        = video_tag('http://techslides.com/demos/sample-videos/small.mp4')
        %h3
            Benda Asing Ditemukan
        %p
            Pada suatu hari, hartono pergi ke ladang untuk membeli ubi. Tanpa ia bayangkan dihari itu ia melihat....
.ui.tab.segment{data: {tab: "tipografi"}}
- (6..13).each do |i|
    .four.wide.column
        = video_tag('http://techslides.com/demos/sample-videos/small.mp4')
        %h3
            Benda Asing Ditemukan
        %p
            Pada suatu hari, hartono pergi ke ladang untuk membeli ubi. Tanpa ia bayangkan dihari itu ia melihat....
.ui.tab.segment{data: {tab: "animasi"}}
- (6..13).each do |i|
    .four.wide.column
        = video_tag('http://techslides.com/demos/sample-videos/small.mp4')
        %h3
            Benda Asing Ditemukan
        %p
            Pada suatu hari, hartono pergi ke ladang untuk membeli ubi. Tanpa ia bayangkan dihari itu ia melihat....
