.fourteen.wide.column
  .ui.centered.grid
    .ten.wide.column
      %h1{align: "center"}
        Unggah Video Kamu
      .upload_box
        = form_with url: '/unggah/video', id: "box_unggah" do |vid|
          .box_input
            = vid.file_field :attachment, class: "box_file"
            %p
              %span.box_dragndrop
                %strong
                  Tarik dan Tahan file disini 
                atau
              %span
                Klik diarea ini.
            = submit_tag "Unggah", {class: "box_button"}
          .box_uploading
            Mengunggah!
          .box_success
            Terunggah!
          .box_error
            Gagal Mengunggah!
            %span