.sixteen.wide.column
  .ui.grid
    .eight.wide.column
      .full_height.width100.full_image
        = image_tag 'Intro-App-2', alt: 'login intro'
    .eight.wide.column
      .ui.centered.grid
        .twelve.wide.column
          .ui.grid
            .twelve.wide.column.ten_down
              = image_tag 'pordev', alt: 'logo pordev', class: 'logo_small ten_left'
              %h2.prime_text{align: 'center', class: "ten_down"}
                Mengganti Kata Sandi
              
              = form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :put, class: "ui form"}) do |f|
                = f.hidden_field :reset_password_token
                .field
                  = f.password_field :password, autofocus: true, autocomplete: "password", placeholder: "Masukan Kata Sandi Baru"
                .field.secret_field.hidden_field
                  = f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Ulangi Kata Sandi"
                .ui.indicating.progress
                  .bar
                .actions
                  = f.submit "BUAT SANDI BARU", class: "ui primary button fluid"
                .ui.error.message
                = render "devise/shared/error_messages", resource: resource
              - if controller_name != 'sessions'
                .ui.center.aligned.basic.segment
                  = link_to "Kembali ke halaman masuk", new_session_path(resource_name)
