.sixteen.wide.column
  .ui.grid
    .eight.wide.column
      .full_height.width100.full_image
        = image_tag 'Intro-App-2', alt: 'login intro'
    .eight.wide.column
      .ui.centered.grid
        .twelve.wide.column
          .ui.grid
            .twelve.wide.column.ten_down
              = image_tag 'pordev', alt: 'logo pordev', class: 'logo_small ten_left'
              %h2.prime_text{align: 'center', class: "ten_down"}
                Lupa Sandi
              = form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post, class: "ui form"}) do |f|
                .field
                  = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "E-mail"
                .actions
                  = f.submit "BUAT SANDI BARU", class: "ui primary button fluid"
                .ui.error.message
                = render "devise/shared/error_messages", resource: resource
              - if controller_name != 'sessions'
                .ui.center.aligned.basic.segment
                  = link_to "Kembali ke halaman masuk", new_session_path(resource_name)