.ui.secondary.menu
    .logo_kenca.header
        = image_tag 'pordev', alt: 'logo pordev', class: 'kenca'
    = link_to "Beranda", root_path, class: (current_page?(root_path) ? "item active" : "item")
    = link_to "Jelajah", cruises_path, class: (current_page?(cruises_path) ? "item active" : "item")
    = link_to "Populer", trends_path, class: (current_page?(trends_path) ? "item active" : "item")
    - if current_user.present?
        = link_to "Unggah", inputs_path, class: (current_page?(inputs_path) ? "item active" : "item")
    .milari
        .ui.search
            .ui.left.icon.input.fluid
                = select_tag('milari', option_tags = nil, options = {class: "ui search dropdown fluid", placeholder: "Telusuri"})
                %i.search.icon
            .results
    - if current_user.present?
        .acis
            .poin.search
                .ui.labeled.icon.button.primary.inverted
                    %i.icon
                        = image_tag 'poin', alt: 'poin', class: 'logo_smaller top_ten_percent'
                    = current_user.user_coin_point.point
            .coin.search
                .ui.labeled.icon.button.primary.inverted
                    %i.icon
                        = image_tag 'coin', alt: 'coin', class: 'logo_smaller top_ten_percent'
                    = current_user.user_coin_point.coin
        .inpormasi
            .ui.dropdown.circular.icon.top.right.pointing.button
                %i.icon.bell.outline
                .menu
                    .item
                        notif
        .abdi
            .ui.dropdown.circular.icon.top.right.pointing.button
                %i.icon.user.outline
                .menu
                    .item
                        Profil Saya
                    .item
                        Edit Profil
                    .item
                        Pengaturan
                    .item
                        = link_to('Keluar', destroy_user_session_path, method: :delete)
    - else
        .inpormasi
            .ui.dropdown.circular.icon.top.right.pointing.button
                %i.icon.bell.outline
                .menu
                    .item
                        notif
        .login_header
            = link_to "/daftar" do
                %button.ui.button.primary
                    Bergabung
            = link_to "/masuk" do
                %button.ui.button.primary.inverted
                    Masuk
                
    .kosong