.ui.three.column.grid
    .column
        .sixteen.wide.column
            .logo_kenca.header
                = image_tag 'pordev_putih', alt: 'logo pordev', class: 'logo'
        .sixteen.wide.column
            %p
                Portal Dekave adalah portal yang dapat memenuhi segala kebutuhan jurusan Desain Komunikasi Visual yang meliputi desain grafis, ilustrasi, sinematografi, fotografi dan animasi.
        %br
        .sixteen.wide.column
            %p
                &copy; 2019 - Portal Dekave
    .column
        %h3
            Sosial Media
        .row
            = link_to "http://www.facebook.com/PortalDekave/", target: :_blank do
                %button.ui.circular.basic.inverted.icon.button.white_background
                    %i.facebook.icon.white_text
            = link_to "http://www.instagram.com/portal.dekave/", target: :_blank do
                %button.ui.circular.basic.inverted.icon.button.white_background
                    %i.instagram.icon.white_text
            = link_to "http://www.youtube.com/channel/UCmJ4K5M2kGNt_DPd2RrWqIQ/about", target: :_blank do
                %button.ui.circular.basic.inverted.icon.button.white_background
                    %i.youtube.icon.white_text
            = link_to "http://twitter.com/pdekave/", target: :_blank do
                %button.ui.circular.basic.inverted.icon.button.white_background
                    %i.twitter.icon.white_text
        %br
        .row
            .ui.grid
                .eight.wide.column
                    = link_to carakerja_path do
                        %button.ui.basic.inverted.button.fluid
                            CARA KERJA
                        %br
                    = link_to faq_path do
                        %button.ui.basic.inverted.button.fluid
                            FAQ
                .eight.wide.column
                    = link_to tentang_path do
                        %button.ui.basic.inverted.button.fluid
                            TENTANG KAMI
                        %br
                    = link_to privasi_path do
                        %button.ui.basic.inverted.button.fluid
                            KEBIJAKAN PRIVASI
    .column
        %h3
            Unduh Aplikasi Portal Dekave
        .ui.two.column.grid
            .column.mid
                = link_to "http://play.google.com/store/apps/", target: :_blank do
                    = image_tag 'google-play-badge', alt: 'Google Play Badge', class: 'logo_small'
            .column.mid
                = link_to "http://www.apple.com/id/ios/app-store/", target: :_blank do
                    = image_tag 'apple-store-badge', alt: 'Apple Store Badge', class: 'logo_smaller'