.ui.centered.grid
    .fourteen.wide.column
        .ui.grid
            .sixteen.wide.column
                %h2.prime_text
                    Video Populer
            .sixteen.wide.column
                .ui.grid
                    = render :partial=> "/trends/list/top_video", formats: [:html], handlers: [:haml]
            .sixteen.wide.column
                %h2.prime_text
                    Jelajahi lain-nya
            .sixteen.wide.column
                .ui.grid
                    = render :partial=> "/trends/list/video_list", formats: [:html], handlers: [:haml]