.sixteen.wide.column
  .ui.grid
    .eight.wide.column
      .full_height.width100.full_image
        = image_tag 'Intro-App-2', alt: 'login intro'
    .eight.wide.column
      .ui.centered.grid
        .twelve.wide.column
          .ui.grid
            .twelve.wide.column.ten_down
              = image_tag 'pordev', alt: 'logo pordev', class: 'logo_small ten_left'
              %h2.prime_text{align: 'center'}
                Masuk Akun
              = form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "ui form"}) do |f|
                .field
                  = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "E-mail"
                .field
                  = f.password_field :password, autocomplete: "current-password", placeholder: "Kata Sandi"
                -if devise_mapping.rememberable?
                  .ui.checkbox.field
                    = f.check_box :remember_me, tabindex: "0"
                    = label_tag "Ingat Saya"
                .actions
                  = f.submit "MASUK", class: "ui primary button fluid"
                .ui.error.message
                = render "devise/shared/error_messages", resource: resource
              = render "devise/shared/links"