.ui.centered.grid
    .fourteen.wide.column
        .ui.grid
            .sixteen.wide.column
                %h2.prime_text
                    Rekomendasi
            .sixteen.wide.column
                .ui.grid
                    = render :partial=> "/cruises/list/top_video", formats: [:html], handlers: [:haml]
            .ui.divider
            .sixteen.wide.column
                %h2.prime_text
                    Topik
            .sixteen.wide.column
                #topic
                    .ui.secondary.menu
                        %a{class:"item active", data: {tab:"ilustration"}}
                            Ilustrasi
                        %a{class:"item", data: {tab:"fotografi"}}
                            Fotografi
                        %a{class:"item", data: {tab:"tipografi"}}
                            Tipografi
                        %a{class:"item", data: {tab:"animasi"}}
                            Animasi
            .sixteen.wide.column
                .ui.grid
                    = render :partial=> "/trends/list/video_list", formats: [:html], handlers: [:haml]