.six.wide.column
    .ui.grid
        .row
            .column
                .sixteen.wide.column
                    = video_tag 'http://techslides.com/demos/sample-videos/small.mp4'
        .row
            .column
                .sixteen.wide.column
                    = video_tag 'http://techslides.com/demos/sample-videos/small.mp4'
.ten.wide.column
    = video_tag 'http://techslides.com/demos/sample-videos/small.mp4'
    .ui.three.column.grid
        - (3..5).each do |i|
            .column
                = video_tag 'http://techslides.com/demos/sample-videos/small.mp4'