// Color
$prime-color: #1481C6;
$secondary-color: #3ABDFF;
$background-color: #FFFFFF;
$shadow-color: #EBEBEB;
$disabled-color: #A1A1A1;
$title-color: #333333;
$warning-color: #FFE55D;
$danger-color: #CE5347;

// Font
$body_font: 'http://fonts.useso.com/css?family=Lato:400,700,400italic,700italic&subset=latin', Helvetica, sans-serif;
$title_font: 'http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900', Arial, sans-serif;

// Class for Text
h1, .prime_text{
    color: $prime-color;
    font-family: $title_font;
}
.secondary_text{
    color: $secondary-color;
}
.title_text{
    color: $title-color;
    font-family: $title_font;
}
.white_text{
    color: $background-color;
}

// Class for background
.prime_background{
    background-color: $prime-color;
}
.white_background{
    background-color: $background-color;
}