%p
    Hallo,  
    = @email
- if @resource.try(:unconfirmed_email?)
  %p
    Kami ingin memberitahu, bahwa emailmu telah diganti ke 
    = @resource.unconfirmed_email
- else
  %p
    Kami ingin memberitahu, bahwa emailmu telah diganti ke 
    = @resource.email