%p
    Hallo 
    = @resource.email

%p
    Dibawah ini adalah tautan untuk mengganti passwordmu..

%p
    = link_to 'Ganti Kata Sandi', edit_password_url(@resource, reset_password_token: @token)

%p
    Jika kamu tidak meminta ini, abakaian pesan ini.
%p
    Passwordmu tidak akan berubah..
