%p
    Hello 
    = @resource.email

%p
    Akun-mu telah dikunci, karena salah memasukan kata sandi berkali kali.

%p
    Klik link dibawah ini untuk membuka kembali akunmu

%p
    = link_to 'Buka Kunci', unlock_url(@resource, unlock_token: @token)
