@import '../pordev_style.css.scss';

// Global Css
html, body{
    width: 100vw;
    height: 100vh;
    font-family: $body_font;
}
#sampean, #salira{
    padding-bottom: 5vh;
    padding-top: 3vh;
}
.no_scroll{
    overflow: hidden;
}

// Size CSS
.full_height{
    height: 100vh;
}
.full_width{
    width: 100vw;
}
.height100{
    height: 100%;
}
.width100{
    width: 100%;
}

// Image
.full_image {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
}
.full_image img {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
}

// Logo
.logo{
    width: 250%;
    height: auto;
    object-fit: contain;
    margin-left: -10px;
}
.logo_small{
    width: 100%;
    height: auto;
    object-fit: contain;
}
.logo_smaller{
    width: 80%;
    height: auto;
    object-fit: contain;
}
.logo_large{
    width: 150%;
    height: auto;
    object-fit: contain;
}

// Layout
.ten_down{
    margin-top: 10vh;
}
.ten_up{
    margin-top: -10vh;
}
.ten_left{
    margin-left: -10px;
}
.ten_right{
    margin-left: 10px;
}
.top_ten_percent{
    margin-top: 10%;
}

.kotak_profile{
    display: inline-block;
    background-color: $shadow-color;
    height: auto;
    width: 100%;
}
.kotak_bergabung{
    display: inline-block;
    background-color: $background-color;
    height: auto;
    width: 100%;
}

video {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.mid{
    margin:auto;
}

.hidden_field{
    display: none;
}