@import '../pordev_style';

#mastaka{
    display: block;
    max-width: 100vw;
    max-height: 10vh;
}
.logo_kenca{
    display: inline-block;
    max-width: 20%;
    max-height: 100%;
    margin: auto;
}
.batang_menu{
    width: 30%;
    max-height: 100%;
    color: $prime-color;
}
.milari{
    display: inline-block;
    width: 30%;
    max-height: 100%;
    margin: auto;
    padding-left: 1%;
    padding-right: 1%;
}
.acis{
    display: inline-block;
    max-width: 25%;
    max-height: 100%;
    margin: auto;
}
.inpormasi, .abdi, .kosong{
    display: inline-block;
    width: 3%;
    max-height: 100%;
    margin: auto;
}
.login_header{
    display: inline-block;
    width: 15%;
    max-height: 100%;
    margin: auto;
}
.coin, .poin{
    display: inline-block;
    max-height: 100%;
    max-width: 100%;
}
.kenca{
    width: 80%;
    height: 80%;
    margin: auto auto auto 10%;
}
.slide_show{
    width: 100%;
    height: 150px;
}