@import '../pordev_style';

// halaman box
.upload_box{
    display: block;
    margin: auto;
    width: 40vw;
    height: 40vh;
}

.box_dragndrop,
.box_uploading,
.box_success,
.box_error {
  display: none;
}

// kotak box, yang biru biru itu..
#box_unggah{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -250px;
    width: 500px;
    height: 200px;
    border: 5px dashed $prime-color;
}
#box_unggah input{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
}
#box_unggah button{
    margin: 0;
    color: $prime-color;
    background: #16a085;
    border: none;
    width: 508px;
    height: 35px;
    margin-top: -20px;
    margin-left: -4px;
    border-radius: 4px;
    border-bottom: 4px solid #117A60;
    transition: all .2s ease;
    outline: none;
}
#box_unggah button:hover{
    background: #149174;
    color: #0C5645;
}
#box_unggah button:active{
    border:0;
}

// support drag n drop?
#box_unggah.has-advanced-upload {
    background-color: $background_color;
    outline-offset: -10px;
}
#box_unggah.has-advanced-upload .box_dragndrop {
    display: inline;
}
#box_unggah.is-dragover {
    background-color: $shadow_color;
}

// teksnya
#box_unggah p{
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 170px;
    color: $prime-color;
    font-family: Arial;
}

// proses
#box_unggah.is-uploading .box_input {
    visibility: none;
}
#box_unggah.is-uploading .box_uploading {
    display: block;
}
