!!! 5
%html
  %head
    %title Portal Dekave
    = csrf_meta_tags
    = csp_meta_tag
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
      
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  - unless (controller_name=='confirmations' || controller_name=='sessions' || controller_name=='passwords' || controller_name=='registrations')
    %body.wrapper
      #mastaka
        = render :partial=> "/layouts/salira/mastaka", formats: [:html], handlers: [:haml]
      #salira.ui.centered.grid
        .fourteen.wide.column
          - if notice
            .ui.info.message.alert.alert-success
              %ul.list
                %li
                  = notice
          - if alert
            .ui.error.message.alert.alert-success
              %ul.list
                %li
                  = alert
        = yield
      #sampean.prime_background.white_text.ui.centered.grid
        .fourteen.wide.column
          = render :partial=> "/layouts/salira/sampean", formats: [:html], handlers: [:haml]
  - else
    %body.wrapper.no_scroll
      .ui.centered.grid
        = yield